*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-font-size: 1.6rem;
    --body-font-color: #5f5f5f;
    --body-font-family: 'Open Sans', sans-serif;

}
html{
    height: 100%;
    background-color: white;
}
body{
    min-height: 100%;
    background-color: #2b542c;
    background-image: url(./Images/jason-tillmore-4PqB4Z4QxG4-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:left top ;
    background-size: 100% 100%;
}
 
 a{
   color: black !important;
 }